<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 새로운 방법은 구현객체를 만들지 않고 구현객체를 관리하는 인터페이스 이름을 넣어줌, 경로.클래스명 -->
<mapper namespace="com.spring.javaclassS.dao.MemberDAO">
	
	<select id="getMemberIdCheck" resultType="com.spring.javaclassS.vo.MemberVO">
		select * from member3 where mid = #{mid};
	</select>
	
	<select id="getMemberNickCheck" resultType="com.spring.javaclassS.vo.MemberVO">
		select * from member3 where nickName = #{nickName};
	</select>
	
	<!-- 관리자일때 관리자가 아닐때 레벨 넘어옴 c:if x // 동적쿼리에서는 절대로 #쓰면 안됨 -->
	<!-- <if test="level == 0">
		select * from member3 order by nickName;
	</if>
	<if test="level != 0">
		select * from member3 where userInfor = '공개' order by nickName;
	</if> -->
	
	<select id="getMemberList" resultType="com.spring.javaclassS.vo.MemberVO">
		select * from member3 <if test="level != 0"> where userInfor = '공개'</if> order by nickName;
	</select>
	
   <select id="getMemberNameCheck" resultType="com.spring.javaclassS.vo.MemberVO">
     select * from member3 where name = #{name};
   </select>
   
   <select id="getMemberNickNameEmailCheck" resultType="com.spring.javaclassS.vo.MemberVO">
   		<!-- limit 1 안써도 됨(정상적인 경우) -->
			select * from member3 where nickName = #{nickName} and email = #{email} limit 1;
   </select>
	
	
	<insert id="setMemberJoinOk">
	  insert into member3 values (default,#{vo.mid},#{vo.pwd},#{vo.nickName},#{vo.name},#{vo.gender},#{vo.birthday},#{vo.tel},#{vo.address},#{vo.email},#{vo.homePage},#{vo.job},#{vo.hobby},#{vo.photo},#{vo.content},#{vo.userInfor},default,default,default,default,default,default,default);
	</insert>
	
	<insert id="setKakaoMemberInput">
	  insert into member3 (mid, pwd, nickName, name, email, level) values (#{mid},#{pwd},#{nickName},#{nickName},#{email},2);
	</insert>
	
	
	<update id="setMemberPasswordUpdate">
	  update member3 set pwd = #{pwd} where mid = #{mid};
	</update>
	
	<update id="setMemberInforUpdate">
	  update member3 set visitCnt=visitCnt+1, lastDate=now(), todayCnt=todayCnt+1, point=#{point} where mid=#{mid};
	</update>
	
	<update id="setPwdChangeOk">
	  update member3 set pwd = #{pwd} where mid = #{mid};
	</update>
	
	<update id="setMemberUpdateOk">
	  update member3 set nickName=#{vo.nickName},name=#{vo.name},gender=#{vo.gender},birthday=#{vo.birthday},tel=#{vo.tel},address=#{vo.address},email=#{vo.email},homePage=#{vo.homePage},job=#{vo.job},hobby=#{vo.hobby},photo=#{vo.photo},content=#{vo.content},userInfor=#{vo.userInfor} where mid=#{vo.mid};
	</update>
	
	<update id="setUserDel">
	  update member3 set userDel = 'OK' where mid = #{mid};
	</update>
	
</mapper>