<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS.dao.PdsDAO">
	
	<select id="totRecCnt" resultType="int">
		<!-- 
	  <if test="part == '전체'">select count(*) from pds2</if>
	  <if test="part != '전체'">select count(*) from pds2 where part = #{part}</if>
	   -->
	  select count(*) from pds2 <if test="part != '전체'"> where part = #{part} </if>
	</select>
	
	<select id="getPdsList" resultType="com.spring.javaclassS.vo.PdsVO">
		select *, datediff(fDate, now()) as date_diff,
		  timestampdiff(hour, fDate, now()) as hour_diff 
		  from pds2 <if test="part != '전체'"> where part = #{part} </if> order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getPdsContent" resultType="com.spring.javaclassS.vo.PdsVO">
		select *, datediff(fDate, now()) as date_diff, timestampdiff(hour, fDate, now()) as hour_diff from pds2 where idx = #{idx};
	</select>
	
	
	<insert id="setPdsUpload">
		insert into pds2 values(default,#{vo.mid},#{vo.nickName},#{vo.fName},#{vo.fSName},#{vo.fSize},
			#{vo.title},#{vo.part},default,default,#{vo.openSw},#{vo.hostIp},#{vo.content});
	</insert>
	
	
	<update id="setPdsDownNum">
		update pds2 set downNum = downNum + 1 where idx = #{idx};
	</update>
	
	
	<delete id="setPdsDelete">
		delete from pds2 where idx = #{idx};
	</delete>
</mapper>